<div
  class="h-16 w-full bg-neutral-4 text-neutral-1 rounded-2xl flex items-center justify-between px-4 py-6"
>
  <div class="flex gap-6">
    <span class="icon-search"></span>
    <input
      type="text"
      class="bg-transparent w-full outline-none border-none text-neutral-1 text-M"
      placeholder="Search"
    />
  </div>

  <div class="flex gap-6 items-center">
    <span class="icon-bell"></span>
    <app-avatar
      class="w-10"
      url="/assets/img/avatar1.png"
      alt="Avatar 1"
    ></app-avatar>
  </div>
</div>
