span[class^="icon-"]::before {
  color: rgba(148, 151, 154, 1);
  transition: color 0.1s ease-in-out;
}

.active {
  background: linear-gradient(
    90deg,
    rgba(186, 37, 37, 0) 0%,
    rgba(210, 77, 77, 0.1) 100%
  );
  transition: background 0.1s ease-in-out;
}

li.flex.items-center.pl-5.h-11.cursor-pointer:hover {
  span {
    color: var(--ravn-color-primary-4);
    transition: color 0.2s ease-in-out;
  }

  span[class^="icon-"]::before {
    color: var(--ravn-color-primary-4);
  }
}

li.active {
  span {
    color: var(--ravn-color-primary-4);
  }

  span[class^="icon-"]::before {
    color: var(--ravn-color-primary-4);
  }
}
